:root {
  --primary: #dedede;
  --secondary: #000;
  --white: #fff;
  --font: #282828;
  --subfont: rgba(115, 115, 115, 1);
  --orange: rgb(253, 111, 0);
  --yellow: rgb(252, 212, 51);
  --yellow-price: rgb(255, 239, 19);
  --light-blue: rgb(63, 173, 255);
  --green: rgb(113, 193, 117);
  --green-text:rgba(0, 129, 47, 1);
  --green-faq:green;
  --blue: rgb(47, 137, 255);
  --blue-hover: rgb(37, 99, 198);
  --blue-text:rgba(0, 118, 251, 1);
  --orange-price: rgb(255, 128, 0);
  --pink:rgba(255, 175, 228, 1);
  --purple:rgba(192, 168, 246, 1);
  --gray:hsla(0,0%,50.2%,.96);
  --overflow:#000000de;


  --font-size:2.45vw;
  --font-mini-size:1.4vw;
}